doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/bulma.css')
    link(rel='stylesheet', href='/css/daterangepicker.css')
    link(rel='stylesheet', href='/css/style.css')
  body
    block content

  script(src='/js/jquery.min.js')
  script(src='/js/moment.js')
  script(src='/js/daterangepicker.js')
  block addonScript
